In [1]:
from pandas import DataFrame, Series
from numpy import random

In [2]:
ser1 = Series(['1', '2'], index=['A', 'C'])

In [3]:
ser1

A    1
C    2
dtype: object

In [6]:
#Reindex , fill with NaN value
ser1.reindex(index=['A', 'B', 'C'])

A      1
B    NaN
C      2
dtype: object

In [7]:
list_val = [[1,3], [4,5]]

In [8]:
dframe = DataFrame(list_val, index=['A', 'C'], columns=['col1', 'col2'])

In [9]:
dframe

   col1  col2
A     1     3
C     4     5

In [10]:
dframe.reindex(index=['A', 'B', 'C'])

   col1  col2
A   1.0   3.0
B   NaN   NaN
C   4.0   5.0

In [11]:
dframe.reindex(columns=['col1','col2', 'col3'])

   col1  col2  col3
A     1     3   NaN
C     4     5   NaN

In [12]:
np

NameError: name 'np' is not defined

In [13]:
import numpy as np

In [18]:
np.random.randn(25).reshape(5,5)

array([[-3.06590455,  0.66982097, -0.94449665,  0.79319805, -0.47538566],
       [ 0.20197513, -1.47915189,  1.08974206,  0.47970791, -0.26307887],
       [-0.79066383,  0.16361886,  0.41740891, -1.26836659, -0.78202476],
       [-1.25450996,  0.19917819, -1.20588274, -0.28667168, -0.03466437],
       [-0.29277887, -0.41787487, -1.24608191, -0.60521943, -1.01737145]])